
/*This fixes the kendo bug that causes dropdown lists to appear behind dialogs and windows*/
.k-animation-container {
  z-index: 10003;
}

/*Prevents Dialog box from overflowing. */
.k-widget.k-window.k-dialog {
  max-height: 800px !important;
}

/*Makes labels stand out more as per Brajesh. */
.k-form .k-label {
  font-weight: bolder;
}

.k-grid-header tr[role="row"] {
  border-color: rgba(25,118,210,.3);
  color: #1976d2;
  background-color: rgba(25,118,210,.12);
}
